<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="jquery-3.6.0.min.js"></script>

<script>
function mydouble(){
		var a = $("#mya").val();
		var b = $("#myb").val();
	
		var c = parseInt(a)+parseInt(b);
	
		$("#myc").val(c);
	}
	
$(document).ready(function(){
	$("#btn").click(mydouble);
});	

</script>


</head>
<body>
<input type="text" style="width: 20px" id="mya" value="1"/>
+
<input type="text" style="width: 20px" id="myb" value="2"/>
<input type="button" value="click" id="btn"/>
<input type="text" style="width: 20px" id="myc" value=""/>



</body>
</html>